<%- include('part/header.ejs', { pageTitle: 'Accueil', user }) %>
<input type="hidden" id="guild_id" value="<%= gData.id %>">
<section class="hero">
    <div class="hero-body">
      <p class="title">
        Configuration du serveur <%= gData.name %>:
    </p>
    <button id="btn_save" class="button is-success">Enregistrer</button>
    </div>
  </section>

  <section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-primary">
                <p class="title">Rôles administrateur</p>
                <p class="subtitle">Attribuer un rôle qui donne accès au /config</p>
                <div class="content">
                    <div class="control">
                        <div class="select">
                          <select id="select_adminRole">
                            <option value="none">Choisir...</option>
                            <% roles.forEach(role => { if (role.name == "@everyone") return; %>
                                <option value="<%= role.id %>"><%= role.name %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                </div>
              </article>
              <article class="tile is-child notification is-warning">
                <p class="title">Annonce Pass or</p>
                <p class="subtitle">Une annonce sera envoyé dans le salon avant la fin du pass</p>
                <div class="content">
                    <div class="control">
                        <div class="select">
                          <select id="select_goldPassChannel">
                            <option value="none">Choisir...</option>
                            <% channels.forEach(channel => { %>
                                <option value="<%= channel.id %>"><%= channel.name %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                </div>
              </article>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
              <div class="content">
                <p class="title">Rôles de clan</p>
                <p class="subtitle">Regrouper les joueurs du même clan</p>
                <div class="content">
                    <div class="field has-addons">
                        <p class="control">
                          <a class="button is-static">
                            Clan tags:
                          </a>
                        </p>
                          <div class="control">
                            <input class="input" type="text" placeholder="#EXEMPLES" id="input_clanRole_clanTag">
                          </div>
                          <div class="control">
                            <div class="select">
                              <select id="select_clanRole_role">
                                <option value="none">Choisir...</option>
                                <% roles.forEach(role => { if (role.name == "@everyone") return; %>
                                    <option value="<%= role.id %>"><%= role.name %></option>
                                <% }) %>
                              </select>
                            </div>
                          </div>
                      </div>
                      <p class="subtitle">
                        Supprimer un rôle
                      </p>
                      <div class="control">
                        <div class="select">
                          <select id="select_clanRole_delete">
                            <option value="none">Choisir...</option>
                            <% guild.clanRoles.forEach(role => { %>
                                <option value="<%= role.clanTag %>"><%= roles.find((x) => x.id == role.role).name %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                </div>
              </div>
            </article>
          </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <div class="content">
              <p class="title">Rôles d'HDV</p>
              <p class="subtitle">Regrouper les joueurs du même niveau d'hotel de ville</p>
              <div class="content">
                <div class="field has-addons">
                    <p class="control">
                      <a class="button is-static">
                        level:
                      </a>
                    </p>
                      <div class="control">
                        <div class="select">
                          <select id="select_thRole_th">
                            <option value="none">Choisir...</option>
                            <% for(let i = 1; i <= 15; i++) { %>
                                <option value="<%= i %>">HDV <%= i %></option>
                            <% } %>
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <div class="select">
                          <select id="select_thRole_role">
                            <option value="none">Choisir...</option>
                            <% roles.forEach(role => { if (role.name == "@everyone") return; %>
                                <option value="<%= role.id %>"><%= role.name %></option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                  </div>
                  <p class="subtitle">
                    Supprimer un rôle
                  </p>
                  <div class="control">
                    <div class="select">
                      <select id="select_thRole_delete">
                        <option value="none">Choisir...</option>
                        <% guild.thRoles.forEach(role => { %>
                            <option value="<%= role.th %>"><%= roles.find((x) => x.id == role.role).name %></option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
            </div>
            </div>
          </article>
        </div>
      </div>
    </section>
    <script src="/public/post.js"></script>
<%- include('part/footer.ejs') %>