<%- include('part/header.ejs', { pageTitle: 'Accueil', user }) %>
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                OttoBot
            </h1>
            <h2 class="subtitle has-text-centered">
                Bienvenue sur le dashboard de notre bot Discord.
            </h2>
            <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Serveurs</p>
                    <p class="title"><%= stats.guilds %></p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Utilisateurs</p>
                    <p class="title"><%= stats.users %></p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Uptime</p>
                    <p class="title"><%= stats.uptime %></p>
                  </div>
                </div>
              </nav>
        </div>
    </div>
</section>
<%- include('part/footer.ejs') %>